          <!-- <div class="hero-text"> -->

<!--             <div>
              <div class="image-slider">
                  <div> 
                      <img src="/assets/img/left/L2.png"
                           alt="Left"/> 
                  </div> 
                      <img src="/assets/img/right/R2.png"
                          alt="Right"/> 
            </div>
          </div>

          <div class="container">
          <h1>Touch Image Comparison Slider Demo</h1> "
          <div class="image-spliter">
              <div class="mover" style="left: 99px;"></div>
              <img class="img-left" src="/assets/img/left/L2.png" style="clip: rect(0px, 199px, 1024px, 0px);>
              <img class="img-right" src="/assets/img/right/R2.png">
          </div>
          </div> -->


          <div id="one" class="bal-container">
            <div class="bal-after">
              <img src="/assets/img/right/R2.png">
              <div class="bal-afterPosition afterLabel">
                Real
              </div>
            </div>
            <div class="bal-before">
              <div class="bal-before-inset">
              <img src="/assets/img/left/L2.png">
                <div class="bal-beforePosition beforeLabel">
                  Unreal!
                </div>
              </div>
            </div>
            <div class="bal-handle">
              <span class=" handle-left-arrow"></span>
              <span class="handle-right-arrow"></span>
            </div>
          </div>

<script>
    new BeforeAfter({
        id: '#one'
    });
</script>

          <div class="publications">
            <h2>selected publications</h2>
            {% bibliography -f papers -q @*[selected=true]* %}
          </div>

          <!-- <a class="twitter-timeline" data-width="500" data-height="700" data-theme="dark" href="https://twitter.com/Siddarth95?ref_src=twsrc%5Etfw">Tweets by Siddarth95</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

          <a class="twitter-timeline" data-height="700" data-theme="dark" href="https://twitter.com/Siddarth95?ref_src=twsrc%5Etfw">Tweets by Siddarth</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>