
          <div class="publications">
            <h2>selected publications</h2>
            {% bibliography -f papers -q @*[selected=true]* %}
          </div>

          <!-- <a class="twitter-timeline" data-width="500" data-height="700" data-theme="dark" href="https://twitter.com/Siddarth95?ref_src=twsrc%5Etfw">Tweets by Siddarth95</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
          <a class="twitter-timeline" data-height="700" data-theme="dark" href="https://twitter.com/Siddarth95?ref_src=twsrc%5Etfw">Tweets by Siddarth95</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


          
